body {
  padding: 0;
  margin: 0;
  font-family: "Rubik", "Arial", sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
}

/* CONTAINER */

.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 50px;
  padding-right: 50px;
  margin-right: auto;
  margin-left: auto;
}
